@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

:root {
  --app-bg-color: #f5f5f5;
  --box-bg-color: #fff;
  --text-color: #000;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
}

.app.dark {
  --app-bg-color: #000;
  --box-bg-color: #1d1d1d;
  --text-color: #fff;
  --box-shadow-color: rgba(255, 255, 255, 0.15);
}

.app {
  display: flex;
  min-height: 100vh;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--app-bg-color);
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #88cbe8, #a0b9eb); 
  border-radius: 4px;
}

.filter-box {
  position: fixed; 
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 0 0 0 20px;
  background: var(--box-bg-color);
  transform: translateX(-92%); 
  transition: transform 180ms cubic-bezier(.4,0,.2,1);
  z-index: 10;
  overflow: hidden;
  box-shadow: 1px 1px 20px 1px var(--box-shadow-color);
}

/* Custom scrollbar styles for WebKit browsers */
.filter-box-content::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

.filter-box-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 5px;
}

.filter-box-content::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #88cbe8, #a0b9eb); /* Thumb color */
  border-radius: 5px;
}

.filter-box.open {
  transform: translateX(0); /* Slide in when open */
}

.sidebar-handle {
  height: 100%;
  width: 20px;
  border: none;
  background-color: var(--box-bg-color);
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.filter-box-content {
  overflow-y: auto;
  flex: 1;
  padding-right: 5px; /* Space for scrollbar */
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.filter-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #4a90e2;
  background: var(--box-bg-color);
  color: #4a90e2;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, color 0.3s, border-color 0.3s;
  position: relative;   /* Ensure this is set */

}

.filter-circle.selected::after {
  content: '';
  position: absolute;
  width: 50px; /* Slightly larger than the button */
  height: 50px;
  border: 3px solid rgb(255, 237, 42);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.filter-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  display: block;
}

.filter-group {
  padding: 30px 0;
  border-bottom: 1px solid rgb(220, 220, 220);
}


.filter-group:first-child .filter-image {
  margin: 10px;
  width: 30px; /* Fixed size for images */
  opacity: 0.5;
  transition: transform 0.3s, filter 0.3s, opacity 0.3s; /* Add opacity transition */
}

.filter-group:first-child .filter-image.selected {
  opacity: 1; /* 100% opacity when selected */
}

/* OPTIONAL: reduce or remove margin on last filter group */
.filter-group:last-child {
  justify-content: center;
}


.filter-group:last-child .filter-image {
  width: 90px; /* Fixed size for images */
  opacity: 0.5;
  transition: transform 0.3s, filter 0.3s, opacity 0.3s; /* Add opacity transition */
}

.filter-group:last-child .filter-image.selected {
  opacity: 1; /* 100% opacity when selected */
}

.search-bar {
  margin: 24px 0;
}

.search-input {
  width: 100%;
  padding: 8px 8px 8px 12px;
  border: 2px solid #ddd;
  border-radius: 20px;
  background-color: var(--box-bg-color);
  color: var(--text-color);
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #4a90e2;
  outline: none;
}

/* Update card-list to handle sidebar shift */
.card-list {
  position: relative;
  min-width: 320px;
  width: 80%; /* Full width minus sidebar */
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.card-list.shifted {
  /* When sidebar is open, shift the card list to the right */
  transform: translateX(120px); /* 200px = sidebar width */
}

.card-box {
  display: flex;
  flex-direction: column;
  background: var(--box-bg-color);
  border-radius: 40px;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 20px 1px var(--box-shadow-color);
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: break-word;
}

.card-title {
  margin: 0 10px;
  padding: 0 60px;
  font-size: 30px;
  color: var(--text-color); /* Dark text, adjustable */
  text-align: center;
  font-weight: bold;
}

.card-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 30px 0 50px;
}

.card-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-sizing: border-box;
}

.card-details {
  justify-self: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  color: var(--text-color);
  justify-content: center;
  color: var(--text-color); /* Text color, adjustable */
}

.skill-box,
.special-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}


.passive-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.special-box:hover,
.skill-box:hover,
.passive-box:hover {
  background: rgba(74, 144, 226, 0.1);
}

.detail-name-box {
  width: 250px;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.skill-text-box,
.special-text-box,
.passive-text-box {
  flex: 1;
  min-width: 250px;
  padding: 10px;
  text-align: justify;
  hyphens: auto;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: break-word;
}


.passive-text-box .open-modal-button,
.skill-text-box .open-modal-button {
  margin-top: 10px;
  justify-content: left;
}

.passive-text-box .open-modal-button img,
.skill-text-box .open-modal-button img {
  width: 100px;
  margin-left: 10px;
}

.toggle-buttons {
  position: fixed;
  top: 30px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1100;
}

.lang-button,
.theme-button {
  width: 50px;
  height: 50px;
  padding: 10px 5px;
  background: var(--box-bg-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 20px 1px var(--box-shadow-color);
  z-index: 1100;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-wrapper {
  background: var(--box-bg-color);
  color: var(--text-color);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px var(--box-shadow-color);
  max-width: 75vw;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-content {
  flex: 1 1 auto;
  padding: 20px;
  background: var(--box-bg-color);
  color: var(--text-color);
  overflow-y: auto;
}

.close-modal-button,
.open-modal-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none; /* Remove default border */
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-modal-button img,
.open-modal-button img {
  cursor: pointer;
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.close-modal-button img:hover,
.open-modal-button img:hover {
  filter: brightness(0.8); /* Slightly darken the icon on hover */
}

.added-card {
  padding: 10px 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.add-card-name {
  text-align: center;
  margin-bottom: 20px;
}

.add-card-name h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.added-card-body {
  display: flex;
  flex-direction: row;
}

.added-card-image {
  margin-right: 20px;
}

.added-card-image img {
  width: 160px;
  height: auto;
}

.language-switcher {
  position: fixed;
  top: 20px;
  right: 80px;
  display: flex;
  gap: 10px;
  z-index: 999;
}

.language-switcher button {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background-color: #eee;
  cursor: pointer;
  font-weight: bold;
}

.language-switcher button.active {
  background-color: #4a90e2;
  color: white;
}

.header {
  position: fixed;
  padding: 0 2px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;            /* vertically center tabs */
  z-index: 1000;                  /* above everything by default */
  background: var(--app-bg-color);            /* keep your look */
  box-shadow: 0 2px 8px var(--box-shadow-color);
}

/* ensure tab content vertically centered */
.tab {
  margin: 5px 3px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  flex: 1;
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab.active {
  background: var(--box-bg-color); 
  box-shadow: 1px 1px 5px var(--box-shadow-color);
}

.tab:hover {
  background: rgba(0, 0, 0, 0.05); 
}

.tab.active:hover{
  background: var(--app-bg-color); 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* bigger columns */
  gap: 20px;
  padding: 60px 30px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--box-bg-color);
  border-radius: 20px;
  box-shadow: 1px 1px 15px var(--box-shadow-color);
  padding: 20px;
}

.gallery-img {
  width: 100%;
  height: 250px; 
  border-radius: 15px;
  background-color: var(--app-bg-color);
  display: flex;            
  align-items: center;       
  justify-content: center; 
}

.gallery-img img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.gallery-name {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
  word-break: break-word;
}



/* Responsive */
@media (max-width: 768px) {
  .filter-box {
    width: 80%; 
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;           
    padding: 20px 16px 40px;
    padding-top: 70px;
    box-sizing: border-box;
    border-radius: 0 20px 20px 0;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    position: fixed;
    z-index: 1100;
  }

  .filter-box.open {
    transform: translateX(0);
  }

  .sidebar-handle {
    width: 0px;
  }

  .card-list {
    width: 95%;
    padding: 10px;
  }

  .card-list.shifted {
    transform: none !important; /* ✅ Stop the shift */
  }

  .card-box {
    padding: 20px;
  }

  .card-images {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin:20px 0;
  }

  .card-image {
    max-width: 400px;
  }

  .card-details {
    width: 100%;
  }

  .skill-box,
  .special-box,
  .passive-box {
    flex-direction: column;
    align-items: stretch;
  }

  .detail-name-box {
    width: 100%;
    padding: 5px 0;
    text-align: center;
  }

  .detail-name-box h3 {
    margin: 0;
  }

  .skill-text-box,
  .special-text-box,
  .passive-text-box {
    font-size: 12px;
    width: 100%;
    padding: 10px 0 20px 0;
    text-align: justify;
    hyphens: auto;
  }

  .card-title {
    margin: 20px 0 10px 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
  }

  .modal-content-wrapper{
    padding: 20px 10px;
    max-width: 85vw;
    max-height: 70%;
  }

  .modal-content {
    padding: 0;
  }

  .added-card {
    margin-bottom: 20px;
  }

  .added-card .passive-box {
    margin-bottom: 0;
  }

  .add-card-name {
    padding: 5px 0;
    text-align: center;
  }

  .add-card-name h3 {
    font-size: 25px;
  }

  .added-card-body {
    flex-direction: column;
  }

  .added-card-image {
    display: flex;
    margin: 10px auto;
    justify-content: center;
  }

}
